main {
  max-width: 1024px;
  padding: 28px 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 38px;
}

.dashboard-header__title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-2);
  color: var(--color-grey-1);
}

.dashboard-header__dashboard-filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashboard-statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.dashboard-statement__statement-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  border-radius: var(--radius-1);
  padding: 14px 16px;
  background: var(--color-grey-5);
}

.statement-summary__title,
.statement-summary__total {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-3);
  color: var(--color-grey-1);
}

.statement-summary__title {
  white-space: nowrap;
}

.statement-summary__total {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
}

.statement-entries__empty-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  cursor: pointer;
  border: var(--border-size-1) dashed var(--color-grey-3);
  border-radius: var(--radius-1);
  padding: 16px;
  background: var(--color-grey-5);
  -webkit-transition: background var(--animation-duration) var(--animation-type);
  -o-transition: background var(--animation-duration) var(--animation-type);
  transition: background var(--animation-duration) var(--animation-type);
}

.statement-entries__empty-entries:hover {
  background: var(--color-grey-4);
  -webkit-transition: background var(--animation-duration) var(--animation-type);
  -o-transition: background var(--animation-duration) var(--animation-type);
  transition: background var(--animation-duration) var(--animation-type);
}

.statement-entries__empty-entries > p {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-2);
  color: var(--color-grey-2);
}

.statement-entries__empty-entries > p > strong {
  font-weight: var(--font-weight-1);
  color: var(--color-grey-1);
}

.dashboard-statement__statement-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.statement-entries__statement-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--color-grey-5);
  padding: 8px 16px;
  -webkit-transition: border var(--animation-duration) var(--animation-type);
  -o-transition: border var(--animation-duration) var(--animation-type);
  transition: border var(--animation-duration) var(--animation-type);
}

.statement-entries__statement-entry:hover {
  border: var(--border-size-1) solid var(--color-brand-1);
  -webkit-transition: border var(--animation-duration) var(--animation-type);
  -o-transition: border var(--animation-duration) var(--animation-type);
  transition: border var(--animation-duration) var(--animation-type);
}

.statement-entry__value {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-3);
  color: var(--color-grey-1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.statement-entry__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.statement-entry__tag {
  min-width: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7px 14px;
  background: var(--color-grey-4);
  text-align: center;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  color: var(--color-grey-2);
  border-radius: var(--radius-2);
}
