@-webkit-keyframes fadeIn {
  0% {
    background: 0 0;
  }

  to {
    background: var(--color-grey-1-opacity-5);
  }
}

@keyframes fadeIn {
  0% {
    background: 0 0;
  }

  to {
    background: var(--color-grey-1-opacity-5);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    background: var(--color-grey-1-opacity-5);
  }

  to {
    background: 0 0;
  }
}

@keyframes fadeOut {
  0% {
    background: var(--color-grey-1-opacity-5);
  }

  to {
    background: 0 0;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    translate: 0-100vh;
  }

  to {
    translate: 0;
  }
}

@keyframes slideInDown {
  0% {
    translate: 0-100vh;
  }

  to {
    translate: 0;
  }
}

@-webkit-keyframes slideOutDown {
  0% {
    translate: 0;
  }

  to {
    translate: 0 100vh;
  }
}

@keyframes slideOutDown {
  0% {
    translate: 0;
  }

  to {
    translate: 0 100vh;
  }
}

.fadeIn {
  -webkit-animation: fadeIn var(--animation-duration) var(--animation-type)
    forwards;
  animation: fadeIn var(--animation-duration) var(--animation-type) forwards;
}

.fadeOut {
  -webkit-animation: fadeOut var(--animation-duration) var(--animation-type)
    forwards;
  animation: fadeOut var(--animation-duration) var(--animation-type) forwards;
}

.slideInDown {
  -webkit-animation: slideInDown var(--animation-duration) var(--animation-type)
    forwards;
  animation: slideInDown var(--animation-duration) var(--animation-type)
    forwards;
}

.slideOutDown {
  -webkit-animation: slideOutDown var(--animation-duration)
    var(--animation-type) forwards;
  animation: slideOutDown var(--animation-duration) var(--animation-type)
    forwards;
}
